{% extends "base.html" %}
{% block title %}
<title>Enter new password{</title>
{% endblock title %}

 {% load static %}

{% block content %}
   <style>
  {% load static %}
  body {
   background: url({% static 'img/fog-240075_960_720.jpg' %});
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}
  footer {
    clear: both;
    position: relative;
    height: 10%;
    margin-top: 18%;

}
</style>
{% if validlink %}

<h2>Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}
