{% extends "base.html" %}
{% block title %}
<title>Password Reset Confirm</title>
{% endblock title %}
{% load static %}



{% block content %}

<style>
  body {
   background: url({% static 'img/fog-240075_960_720.jpg' %});
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}
  footer {
    clear: both;
    position: relative;
    height: 10%;
    margin-top: 35%;

}

</style>
<h2>Password reset complete</h2>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock %}
