{% extends "base.html" %}
{% block title %}
<title>Email Sent</title>
{% endblock title %}
 {% load static %}

{% block content %}
     <style>

  body {
   background: url({% static 'img/fog-240075_960_720.jpg' %});
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}
  footer {
    clear: both;
    position: relative;
    height: 10%;
    margin-top: 35%;

}
</style>
  <h2>Check your inbox.</h2>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %}

